[user]
	email = bjornsnorgaard@gmail.com
	name = Bjørn Nørgaard
[alias]
        l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
        a = add --all
        d = diff
        s = status
        b = branch -a
        f = fetch -p
        bd = branch -d
	bdd = branch -D
        ca = commit -am
        cm = commit -m
        rh = reset --hard
        ph = push origin head
        pd = pull origin develop
        pm = pull origin main
        co = checkout
        com = checkout main
        cod = checkout develop
